@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: auto;
    height: 100%;
    background: #ecf8f8;
}

h1 {
    font-family: 'Monsieur La Doulaise', serif;
}